@using SwastiFashionHub.Components.Display

<div class="form-field"
	 style="position: relative; @Style">
	<div class="label-wrap">
		<label for=@Id class="label @(Required ? "required" : "")">@Label</label>
	</div>

	<div class="input-wrap">
		<input id=@Id
			   name=@Id
			   type="password"
			   class="form-control @(!isValid ?? false ? "invalid" : "")"
			   style="width: @Width;"
			   value=@Value
			   @oninput=@(e=>Change(e.Value.ToString()))
			   @onfocusout=@(()=>{ if(isValid != null) Validate();}) />

		@if (isValid != null && !String.IsNullOrEmpty(Value))
		{
			<span class="password-status @(isValid ?? false ? "valid" : "invalid")"></span>
		}
	</div>

	<InputError Message=@errorMsg OnClick=@(()=> showPasswordReq = !showPasswordReq)></InputError>
	<div class="password-req-wrap @(showPasswordReq ? "show" : "")">
		<div class="password-req-wrap-connect"></div>
		<span>Password requirements</span>
		<ul>
			<li>Must contain atleast 12+ characters</li>
			<li>Must contain atleast one uppercase character</li>
			<li>Must contain atleast one lowercase character</li>
			<li>Must contain atleast one number</li>
			<li>Must contain atleast one special character</li>
		</ul>
	</div>

</div>