
<Dialog Title="Confirmation Dialog"
        IsOpen="@ShowModel"
        IsOpenChanged="@((bool isOpen) => ShowModel = isOpen)">

    @if (ConfirmServiceModel != null && !string.IsNullOrWhiteSpace(ConfirmServiceModel.SaveButtonName))
    {
        <div class="modal-body p-4">
            <div class="row">
                <div class="col-12">
                    @if (!string.IsNullOrWhiteSpace(ConfirmServiceModel.Message))
                    {
                        <label class="confirmchanges-message">
                            @ConfirmServiceModel.Message
                        </label>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @if (!string.IsNullOrWhiteSpace(ConfirmServiceModel.DiscardButtonName) && ConfirmServiceModel.DiscardButton != null)
            {
                <button @onclick="@ConfirmServiceModel.DiscardButton"
                        type="button"
                        class="ml-3 btn btn-warning d-inline text-light">
                    @ConfirmServiceModel.DiscardButtonName
                </button>
            }
            @if (!string.IsNullOrWhiteSpace(ConfirmServiceModel.SaveButtonName) && ConfirmServiceModel.SaveButton != null)
            {
                <button @onclick="@ConfirmServiceModel.SaveButton"
                        type="button"
                        class="ml-3 btn btn-success d-inline">
                    @ConfirmServiceModel.SaveButtonName
                </button>
            }
        </div>
    }
</Dialog>
