@page "/master/designs"

@layout MainLayout
@inject IJSRuntime JsRuntime

@using SwastiFashionHub.Common.Data.Response;
@using SwastiFashionHub.Shared.Core.Models;
@using System.Linq
@using System.Reflection;
@using SwastiFashionHub.Shared.Core.Services.Interface;
@using SwastiFashionHub.Components.Data;

<Breadcrumb Title="Designs" BreadcrumbPageTitle="Master"></Breadcrumb>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <button class="btn font-16 btn-primary btn-block btn-sm mb-2" id="btn-new-event" @onclick="OnAddNewItemClick">
                    <i class="mdi mdi-plus-circle-outline"></i>
                    Create New
                </button>

                @if (ItemsData != null)
                {
                    <div class="table-responsive">
                        <div class="container-fluid" style="width:100%">
                            <div>
                                <table id="@TableId" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Note</th>
                                            <th class="nosort">Image</th>
                                            <th>Entry Date</th>
                                            <th class="nosort">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            @if (ItemsData != null && ItemsData.Count > 0)
                                            {

                                                @foreach (var item in ItemsData)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        <td>@(string.IsNullOrWhiteSpace(item.Note) ? string.Empty : item.Note)</td>
                                                        <td>
                                                            @if (item.DesignImages != null && item.DesignImages.Count > 0)
                                                            {
                                                                <img width="60" height="50" src="@GetImageLink(item.DesignImages.FirstOrDefault().ImageUrl)" />
                                                            }
                                                        </td>
                                                        <td>
                                                            <spam>@String.Format("{0:dd-MM-yyyy hh:mm tt}", item.CreatedDate)</spam>
                                                        </td>
                                                        <td class="action-icons">
                                                            <a href="javascript:void(0);" @onclick=@(()=> OnEditItemClick(item))
                                                           class="px-1  text-primary">
                                                                <i class="uil uil-pen font-size-18"></i>
                                                            </a>

                                                            <a href="javascript:void(0);" @onclick=@(()=> OnDeleteItemClick(item))
                                                           class="px-1 text-danger">
                                                                <i class="uil uil-trash-alt font-size-18"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<Dialog Title="Party"
        IsOpen="@ShowModel"
        IsOpenChanged="@((bool isOpen) => ShowModel = isOpen)">

    <div class="modal-body p-4">
        <EditForm Model="@DesignModel" OnValidSubmit="@HandleValidSubmit" class="needs-validation">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label">Design Name</label>
                        <InputText class="form-control"
                                   placeholder="Design Name"
                                   type="text"
                                   name="DesignName"
                                   required
                                   @bind-Value="DesignModel.Name">
                        </InputText>
                        <ValidationMessage For="@(() => DesignModel.Name)" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label">Note</label>
                        <InputTextArea class="form-control"
                                       placeholder="Note"
                                       rows="3"
                                       name="Note"
                                       @bind-Value="DesignModel.Note">
                        </InputTextArea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label">Design Image</label>
                        <div class="file_uploading">
                            <InputFile OnChange="@HandleFileSelectionAsync" @onclick="OnInputFile" accept="image/*" multiple />
                            @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                            {
                                <div class="text-danger text-center">
                                    @ErrorMessage
                                </div>
                            }
                        </div>
                    </div>
                </div>


                @if (Guid.Empty != DesignModel.Id && (DesignModel.Images != null && DesignModel.Images.Count > 0))
                {
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Existing Images</label>
                            <div id="existing-images">
                                <div class="row">

                                    @foreach (var item in DesignModel.Images)
                                    {
                                        <div class="col-6 mb-2">
                                            <a href="javascript:void(0)" target="_blank">
                                                <img width="100" height="90" src="@GetImageLink(item.ImageUrl)" />
                                            </a>

                                            <a href="javascript:void(0);" @onclick="@(() => RemoveImage(item.Id))"
                                               class="px-1 text-danger">
                                                <i class="uil uil-trash-alt font-size-18"></i>
                                            </a>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row mt-2">
                <div class="col-12 text-end">
                    <button type="button" class="btn btn-light me-1" @onclick="CloseModelClick">Close</button>
                    <button type="submit" class="btn btn-success" id="btn-save-event">Save</button>
                </div>
            </div>
        </EditForm>
    </div>

</Dialog>